@font-face {
  font-family: "iconfont"; /* Project id 3986749 */
  src: url('iconfont.woff2?t=1681192943373') format('woff2'),
       url('iconfont.woff?t=1681192943373') format('woff'),
       url('iconfont.ttf?t=1681192943373') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xia-mian:before {
  content: "\e604";
}

.icon-paixu:before {
  content: "\e605";
}

.icon-zuojiantou:before {
  content: "\e606";
}

.icon-shangjiantou:before {
  content: "\e60a";
}

.icon-shang-mian:before {
  content: "\e60c";
}

.icon-xiajiantou:before {
  content: "\e60d";
}

.icon-youjiantou:before {
  content: "\e60e";
}

.icon-dianzan-mian:before {
  content: "\e60f";
}

.icon-dingwei:before {
  content: "\e610";
}

.icon-fenxiang:before {
  content: "\e612";
}

.icon-dianzan-xian:before {
  content: "\e613";
}

.icon-wuxing:before {
  content: "\e7b8";
}

.icon-shoucangwuxingxingxing:before {
  content: "\e61c";
}

.icon-redu:before {
  content: "\e619";
}

.icon-zhiye:before {
  content: "\e609";
}

.icon-dian:before {
  content: "\ec1e";
}

.icon-sousuo:before {
  content: "\eafe";
}

.icon-shoujihao:before {
  content: "\e639";
}

.icon-mima:before {
  content: "\e8b2";
}

.icon-redu1:before {
  content: "\e61a";
}

.icon-erweima1:before {
  content: "\e98d";
}

.icon-goutong:before {
  content: "\e660";
}

.icon-comment:before {
  content: "\e607";
}

.icon-weixinfang:before {
  content: "\e61b";
}

.icon-fuzhilianjiemian:before {
  content: "\e61d";
}

.icon-QQkongjian:before {
  content: "\e780";
}

.icon-weibo-square-fill:before {
  content: "\ea8d";
}

.icon-qq:before {
  content: "\e608";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-weixin:before {
  content: "\e870";
}

.icon-weibo:before {
  content: "\e611";
}

.icon-icon_soushuo_xian:before {
  content: "\e60b";
}

.icon-xiangshangjiantou:before {
  content: "\e65d";
}

.icon-gouwuche:before {
  content: "\e63f";
}

.icon-jushoucang:before {
  content: "\e643";
}

.icon-wodedingdan:before {
  content: "\e655";
}

.icon-wodeyouhuiquan:before {
  content: "\e65a";
}

.icon-erweima:before {
  content: "\e600";
}

.icon-guanzhu-weiguanzhu:before {
  content: "\e703";
}

.icon-wodezuji:before {
  content: "\e614";
}

.icon-lianxikefu:before {
  content: "\e624";
}

